# Ignore everything by default
/*
!.gitignore

# 2. Unignore the .config folder (but ignore its immediate contents)
!.config/
.config/*

# Include some stuff
!.config/hypr/
!.config/kitty/kitty.conf

!.config/rofi/
.config/rofi/yay/

!.config/scripts/
!.config/waybar/
!.config/waypaper/
!.config/wlogout/
!.config/swaync/
!.floorp/p2503pa8.default-default/chrome/
